@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Witaj, @User.Identity?.Name</h1>
        <p>ID: @UserManager.GetUserId(User)</p>
        <p>
            Przejdź do zakładki <a asp-area="" asp-controller="Tasks" asp-action="Index"><strong>Zadania</strong></a>, aby rozpocząć pracę!
        </p>
    }
    else
    {
        <h1 class="display-4">Witaj, gościu!</h1>
        <p>Zarejestruj się aby móc skorzystać z pełnych funkcji aplikacji.</p>
    }
</div>
