@model WebApplication1.Models.Task

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Jesteś pewien, że chcesz usunąć te zadanie?</h3>
<div class="mt-3">
    <h4>Zadanie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Zadanie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskContent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
